.navbar-brand {
  margin: 8px;
}

.stats-content {
  margin: 24px;
}

.counter-container {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.how-come-container {
  margin: 40px;
}

.donate-container {
  margin: 40px;
}

.donate-container .wallet {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.donate-container .wallet img {
  margin-right: 12px;
}

.bar-container .bar {
  height: 24px;
  margin-bottom: 2px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.bar-container .bnb {
  font-size: 8px;
  margin-left: 8px;
}

.bar-container .score {
  font-size: 8px;
  position: absolute;
  right: -30px;
}

.bar-container .nft-image {
  z-index: 10999;
  background-color: whitesmoke;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.bar-container .nft-image:hover {
  transform: scale(10);
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 2s ease-out infinite;
}
